<p align="right">Hello we are PenPal finders!
We are a page ment to bring people together from all around the world.
Want to learn a new learn a new launge? Or learn about a new culture? You are capable of
meeting people from that area who are willing to teach you and tell you about the area.
if your moving or travling this is a great chance to learn about the place ahead of time
or even make friends in that area befor moving.

<b>About us</b>
We worked hard to bring this page together we are students who wish to bring people together.
Each student has been working on diffrent pages and helping each other set the pages up. We have ran
into many problems but we managed to fix them by working together. We hope to get suggestions from
people using our site by going in the content us page and sending us an email with suggetions and
critisioms to try and help us improve our website. </p>



/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
